@font-face {
  font-family: "Yekan";
  src: url("../BYekan+.ttf");
}
body{
  font-family: "Yekan";
}
.container{
  margin: 1rem;
}

input{
  padding: 5px;
  border-radius: 5px;
}
button{
  background-color: #79f9b3;
  padding: 5px;
  border-radius: 5px;
  font-family: "Yekan";
}
.box{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
  max-width: 500px;
}
